.article {
    padding: 14px 0 96px;

    &__breadcrumbs {
        margin-bottom: 16px;
    }

    &__title {
        @include font(40px, 49px, false, 400);
        margin-bottom: 9px;
    }

    &__date {
        @include font(12px, 15px, false, 500);
        color: var(--text-color-second);
        margin-bottom: 12px;
    }

    &__subtitle {
        @include font(18px, 22px, false, 600);
        margin-bottom: 36px;
    }

    &__img-container {
        height: 318px;
        margin-bottom: 29px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 130%;
        object-fit: cover;
    }

    &__text {
        @include font(14px, 17px, #000);
    }
}