.authorization {

    &__content {
        padding: 26px 15px 40px;
        position: relative;
    }

    &__title {
        @include font(32px, 39px, false, 500);
        margin-bottom: 19px;
    }

    &__input-container {
        @include flexbox(false, false, 20px, column);
        margin-bottom: 26px;
    }

    &__input-group {
        @include flexbox(false, false, 12px, column);
    }

    &__label {
        @include font(12px, 15px, false, 500);
    }

    &__input {
        height: 45px;
        border: 1px solid var(--bg-color-2);
        @include font(12px, 15px, false, 500);
        padding-left: 20px;

        &::placeholder {
            color: var(--text-color-second);
        }
    }

    &__btn-recovery {
        @include font(12px, 15px, var(--accent-color), 500);
        text-decoration-line: underline;
        margin-bottom: 30px;
    }

    &__auth {
        @include flexbox(false, center, 23px);
        margin-bottom: 29px;
    }

    &__checkbox-group {
        @include flexbox(false, false, 10px);
    }

    &__checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid var(--text-color-second);
    }

    &__checkbox-label {
        @include font(12px, 11px, var(--text-color-second));
    }

    &__text {
        @include font(12px, 15px);
    }

    &__reg-btn {
        @include font(12px, 15px, var(--accent-color));
        text-decoration-line: underline;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}