@include laptop {
    .ordering {
        padding: 35px 0 100px;

        &__breadcrumbs {
            margin-bottom: 22px;
        }

        &-tabs__wrapper {
            @include flexbox(space-between);
        }

        &-tabs__btns {
            gap: 56px;
            margin-top: 18px;
            margin-bottom: 37px;
        }

        &__input-container {
            margin-bottom: 26px;
        }

        &__addFile {
            margin: 0;
        }

        &__cart {
            padding: 28px 20px;
            transform: translateX(0);
            height: 100%;
            margin: 0;
        }
    }
}